{{ "<!-- Google tag (gtag.js) with Consent Mode v2 -->" | safeHTML }}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-94RD181NDW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-94RD181NDW', {
    'anonymize_ip': true,
    'allow_google_signals': false,
    'allow_ad_personalization_signals': false,
    'cookie_prefix': '_ga'
  });
</script>
<script>
  (tarteaucitron.job = tarteaucitron.job || []).push('gcmanalyticsstorage');
</script>
